.vscode/**
.vscode-test/**
out/**
test/**
src/**
**/*.map
*.vsix
.gitignore
tsconfig.json
vsc-extension-quickstart.md
images/screenshots/**
docs/**
site/**
node_modules/**
!node_modules/vscode/**
!node_modules/bufferutil/**
!node_modules/validation/**
!node_modules/jsonpath/**
!node_modules/cross-spawn/**
