  </main>
  
  <footer class="row row-full" id="footer">
    <!-- <div class="show-for-large-up large-1 columns">&nbsp;</div> -->
    <div class="small-12 small-centered columns">
      <p class="text-center"><a href="https://github.com/azure/vscode-kubernetes-tools" target="_blank" class=""><i class="fa fa-github" aria-hidden="true"></i></a></p>

      <p class="text-center"><small>Kubernetes and the Kubernetes logo are trademarks or registered trademarks of The Linux Foundation. in the United States and/or other countries. The Linux Foundation and other parties may also have trademark rights in other terms used herein.</small></p>
    </div>
    <!-- <div class="show-for-large-up large-2 columns"></div> -->
  </footer>

  <script type="text/javascript">
    addMenuListener();
    function addMenuListener() {
      var $toggle = document.querySelector('.menu-toggle');
      var $body = document.querySelector('body');
      $toggle.addEventListener('click', function() {
        $body.classList.toggle('noscroll');
      }, false);
    }
  </script>

</body>
</html>
