// import style frameworks
// ---------------------------------------

$fa-font-path: "../fonts" !default;
@import "../../../../node_modules/font-awesome/scss/font-awesome.scss";
@import "paper.scss";
@import "../../../../node_modules/foundation-sites/scss/normalize.scss";
//
// foundation (all)
// @import "../../../../node_modules/foundation-sites/scss/foundation.scss";
//
// foundation (modular)
@import "../../../../node_modules/foundation-sites/scss/foundation/components/grid.scss";
@import "../../../../node_modules/foundation-sites/scss/foundation/components/block-grid.scss";
// @import "../../../../node_modules/foundation-sites/scss/foundation/components/buttons.scss";
@import "../../../../node_modules/foundation-sites/scss/foundation/components/inline-lists.scss";
// @import "../../../../node_modules/foundation-sites/scss/foundation/components/top-bar.scss";
@import "../../../../node_modules/foundation-sites/scss/foundation/components/type.scss";
@import "../../../../node_modules/foundation-sites/scss/foundation/components/offcanvas.scss";
@import "../../../../node_modules/foundation-sites/scss/foundation/components/visibility.scss";


// CNAB palette
// ---------------------------------------
// core colors
$navy:  #3A6EDE;
$red: $navy;
$green: $navy;
$yellow: $navy;
// accent colors
$bluel: $navy;
$yellowl: $navy;


// Fonts
// ---------------------------------------
$source-code: 'Source Code Pro',  monospace;
$source-pro: 'Source Sans Pro', sans-serif;


// Mixins
// ---------------------------------------
@mixin transition($property:all, $duration:0.3s, $easing:ease-in-out) {
  transition: $property $duration $easing;
}

@mixin border-radius($radius1:3px, $radius2:3px) {
  -webkit-border-radius: $radius1 $radius2 $radius1 $radius2;
  -moz-border-radius: $radius1 $radius2 $radius1 $radius2;
  border-radius: $radius1 $radius2 $radius1 $radius2;
}

@mixin box-shadow($xlength:0, $ylength:2px, $size:0, $color:rgba(30,30,30,0.25)) {
  -webkit-box-shadow: $xlength $ylength $size $color;
  -moz-box-shadow: $xlength $ylength $size $color;
  box-shadow: $xlength $ylength $size $color;
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin corner($corner: 0.5rem, $cornertop: -1rem, $cornerleft: -1rem, $cornerbottom: auto, $cornerright: auto) {
  width: $corner;
  height: ($corner * 4);
  display: inline-block;
  content: "";
  background-color: $navy;
  position: absolute;
  left: $cornerleft;
  top: $cornertop;
  bottom: $cornerbottom;
  right: $cornerright;
}

@mixin ripple($color: $navy) {
  position: relative;
  display: inline-block;
  text-align: center;
  @include transition;
  
  &::after {
    position: absolute; 
    bottom: -4px;
    left: 45%;
    width: 10%;
    height: 4px;
    display: inline-block;
    content: "";
    opacity: 0;
    background-color: $color;
    @include transition;
  }

  &:hover::after {
    width: 100%;
    opacity: 1;
    left: 0;
    bottom: 0;
  }
}

@mixin wipe($color: $green) {
  position: relative;
  display: inline-block;
  overflow: hidden;
  @include transition;
  
  &::after {
    position: absolute; 
    left: -20%;
    top: 125%;
    width: 200%;
    height: 150%;
    display: inline-block;
    background-blend-mode: overlay;
    content: "";
    opacity: 0;
    background-color: $color !important;
    transform: rotate(-15deg);
    z-index: -10;
    @include transition;
  }

  &:hover {
    color: white;
    background-color: transparent !important;
  }

  &:hover::after {
    opacity: 1;
    top: 0%;
    transform: rotate(0deg);
  }
}

@mixin button($color: $navy) {
  box-sizing: border-box;
  font-family: $source-code;
  color: $color;
  width: 15rem;
  height: 4.5rem;
  margin: 2rem auto;
  line-height: 3;
  padding: 0 2rem;
  border: 4px solid $color;
  z-index: 600;
  background: transparent !important;
}


// CNAB General
// ---------------------------------------
html,
body {
  height: 100%;
  overflow-x: hidden;
}

.off-canvas-wrap{  
  height: 100%;
  overflow-y: auto;
}

html,
body,
.off-canvas-wrap,
.inner-wrap,
.main,
.height-full {
  min-height: 100vh !important;
}

h1, h2, h3, h4, h5, h6,
.post-title {
  font-family: $source-pro;
}

.row-full {
  max-width: 100%;

  .row {
    // max-width: 62.5rem !important;
  }
}

.height-full,
.full-height {
  min-height: 100vh;
}

.main {
  min-width: 100%;
  overflow-x: hidden;
}

.strike {
  text-decoration: line-through;
}


// Typographic Scale
// ---------------------------------------
$base-font:  18px;                 // 18 - p

$base-xxxlg: ($base-font * 4.775); // 96
$base-xxlg:  ($base-font * 2.4);   // 48
$base-xlg:   ($base-font * 1.8);   // 36 - h3
$base-lg:    ($base-font * 1.2);   // 24 - h4, p.lead
$base-sm:    ($base-font * 0.875); // 18 - small

body {
  line-height: 1.7256;
  font-size: $base-font;
  font-family: $source-pro;
  color: $navy;
}

h1 {
  font-size: $base-xxxlg;
}

h2 {
  font-size: $base-xxlg;
}

h3 {
  font-size: $base-xlg;
}

h4,
p.lead,
.subhead {
  font-size: $base-lg;
}

p {
  font-size: $base-font;
  padding-right: 7.5%;
  max-width: 720px;
}

small {
  font-size: $base-sm;
}


// Nav
// ---------------------------------------
.header {
  padding-left: 0;
  padding-right: 0;
  min-height: 5rem;
  position: fixed;
  z-index: 1000;
  background: rgba(64,117,220,0.667);
  @include transition;

  &:hover {
    background: rgba(64,117,220,0.85);
  }
  
  h1 {
    margin: 0;
    text-align: left;
    @include ripple;
    color: white;
    font-size: 1.5rem;
    line-height: 1.25;
    padding: 0.825rem;

    a {
      text-align: left;
      color: white; 
    }

    em {
      display: block;
      font-style: normal;
      font-size: 0.85rem;
    }
  }
 
  img.logo {
    max-height: 75px;
    max-width: 200px;
    display: inline-block;
  }

  nav {
    ul.menu-desktop {

      li {
        margin: 0 1rem;

        &:last-child {
          margin-right: 0;
        }
      }

      a {
        font-family: $source-pro;
        color: white;
        padding: 1.75rem 0rem;
        margin: 0;
        @include ripple;
      }

      .fa {
        font-size: $base-lg;
      }
    }
  }

  .menu-toggle {
    float: right;
    width: 3rem;
    padding: 2.25rem 1.5rem;

    &::before,
    &::after {
      background: $navy;
    }

  }
}

// mobile breadcrumb menu
nav.menu {
  @include transition;
}

body.list.noscroll {

  .header .menu-toggle {
    z-index: 1200;
  }
  
  nav.menu ul {
    background-color: white;
    z-index: 1050;
    margin: 0;
    list-style: none;

    li {
      a {
        font-size: $base-xlg;
        line-height: 3;
        color: $navy;

        @include ripple;
      }
    }
  }
}


// Sections
// ---------------------------------------
#tools {
  border-top: 2px solid rgba(0,0,0,0.05);
  padding-top: 7.5rem;
  overflow: hidden;
  background-color: rgba(58,110,222,1);
  background-image: 
    url(../img/pipes/pipes.png),
    linear-gradient(180deg, rgba(58,110,222,1) 0%, rgba(27,112,149,1) 100%);
  background-repeat: repeat, no-repeat;
  background-position: 0 0%, 0% 0%;
  background-blend-mode: multiply, normal;
  position: relative;
  min-height: 53rem !important;

  a.btn {
    position: absolute;
    left: 50%;
    font-size: 1.5rem;
    min-width: 14rem;
    margin-left: -7rem;
    padding: 0.5rem 1.25rem;
    border-radius: 0.2rem;
    color: white;
    background: green;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.25);
    top: 42rem;
    text-align: center;
    z-index: 250;
    @include wipe(darken(rgba(58,110,222,1), 15%));
    @include transition;
  }

  .screenshot-wrapper {
    min-height: 50rem !important;
  }

  img.screenshot {
    position: absolute;
    left: -3.925rem;
    min-width: 892px !important;
    max-width: 350% !important;
    max-height: 70rem !important;
    bottom: -21.25rem;
    z-index: 100;
  }

  h1 {
    font-size: 2.5rem;
    margin: 2rem 0 3.5rem;
    color: white;
    font-family: $source-code;
    position: absolute;
    top: -3.5rem;
    left: 0.9375rem;
    min-width: 620px;
    z-index: 720;
  }
  
  h2 {
    font-size: 1.5rem;
    color: white;
  }

  p {
    margin: 195px 0 2rem;
    color: white;
    font-size: 1.25rem;
    line-height: 1.636;
  }

  ul {
    li {
      color: white;
      font-size: 1.125rem;
      line-height: 2;
    }
  }

  a {
    color: white;
    background: rgba(64,117,220,0.667);
    padding: 0 0.5rem;
    border-radius: 0.825rem;
    @include ripple;
    @include transition;
  }
}


#api {
  padding-top: 9.25rem;
  padding-bottom: 6.333rem;
}

#footer {
  background-color: white;
  border-top: 2px solid rgba(0,0,0,0.05);
  position: relative;
  min-height: 4.5rem;
  z-index: 1500;

  p {
    margin: 2rem 0;
    padding: 0 0 2.25rem;
  }

  .fa {
    font-size: $base-lg;
    color: #333;
  }
}


// CNAB sub pages
article.post {
  .post-content {
    padding-bottom: 7.5rem;
    
    h2 {
      color: $navy;
      margin: 4rem 0 1rem;
    }

    h3 {
      color: $green;
      display: inline-block;
      margin: 1.75rem 0 0.825rem;
      font-size: 1.2rem;
      text-transform: uppercase;
      letter-spacing: 0.125rem;
    }

    ul {
      margin: 1.5rem 0 3rem;
    }

    p {
      line-height: 1.85;
    }
  }
}

// CNAB Spec docs pages
.single .docs {
  margin-top: -60px !important;
  border-top: 1px solid $green;
}

.docs-sidebar {
  position: relative;
  z-index: 850;

  ul.docs-menu {
    position: fixed;
    margin: 0;
    left: 0;
    top: 0;
    bottom: 0;
    padding-top: 98px;
    border-right: 1px solid $green;
    max-width: 420px;
    min-width: 300px;

    li {
      a {
        padding: 1.75rem 1.75rem;
        line-height: 1.825;
        font-size: 1.25rem;
        font-family: $source-pro;
        color: $navy;
      }
    }

    ul {
      margin: 0;
      padding-top: 0.5rem;
      padding-bottom: 1.2rem;
      
      li {
        a {
          padding: 1.5rem 1.75rem 1.5rem 2.75rem;
          font-size: 1rem;
          color: lighten($navy, 5%);
        }
      }
    }
  }
}


// docs content
.docs {
  .post-content {
    p {
      margin: 0 0 2rem;
      line-height: 1.85;
    }

    ul {
      margin: 2rem 0;
    }

    li {
      line-height: 1.8;
      font-size: 1.125rem;
    }

    a {
      text-decoration: none;
      color: darken($navy, 5%);
      @include ripple;
      font-style: normal;
      border: none;

      &:before {
        position: absolute;
        bottom: 0px;
        left: 10%;
        width: 80%;
        height: 4px;
        content: "";
        background-color: lighten($navy, 50%);
      }
    }

    code {
      border: none;
      background-color: desaturate($yellowl, 20%);
      font-family: source-code;
      font-size: 1.125rem;
      color: desaturate($navy, 10%);
      font-style: normal;
      border-radius: 0.25rem;
    }

    pre {
      border-radius: 0.5rem;
      border: none;
      background-color: desaturate($yellowl, 20%);
    }
  }
}


// Media Queries
// ---------------------------------------
// mobile
@media screen and (max-width: 1024px) {

  .row,
  .row-full {
    width: 96% !important;
    padding-left: 2% !important;
    padding-right: 2% !important;

    .row,
    .row-full {
      width: 100% !important;
      padding-left: 0 !important;
      padding-right: 0 !important;
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
  }

  .height-full {
    min-height: 50vh !important;
  }

  .small-12 {
    .small-12 {
      padding-left: 0 !important;
      padding-right: 0 !important; 
    }
  }
  
  #intro {
    background-image: none;
    padding-top: 1rem;
    min-height: 35rem !important;
    
    h2 {
      font-size: $base-xlg;
      display: inline-block;
      margin: 4.5rem -1.6rem 2rem -1.6rem;
      font-size: 6vw;
      z-index: 500;
      
      strong {
        padding: 1rem 20% 1rem 1.6rem;
      }
    }

    p.subhead {
      font-size: $base-lg;
      margin: -2rem 0 1rem 0;
      padding: 0;
    }

    .cnab-logo {
      position: absolute;
      right: 3.5%;
      left: auto;
      width: 18vw;
      top: 3.75rem;
      bottom: auto;
      z-index: 850;
    }

    .button {
      margin: 2rem 0;
      position: relative;
      left: auto;
      right: auto;
      width: 100%;
    }
  }

  #features {
    padding-top: 1.5rem;
    padding-bottom: 2.5rem;

    h3 {
      font-size: $base-lg;
      margin: 3rem 0 0.825rem;
    }

    p.lead {
      font-size: $base-font;
      margin: 0;
    }
    
    img {
      display: none;
    }

    p.bloglink a {
      @include button(white);
      @include wipe;
      line-height: 3;
      width: 100%;
      margin: 2.5rem 0 0.5rem;
      height: auto;
    }
  }

  #resources {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    
    h3 {
      font-size: $base-lg;
      margin-bottom: 3rem;
    }

    .panel {
      width: 100%;
      margin: 0 0 2rem;
      padding: 0;
      
      a {
        padding: 1rem 1.25rem;
        min-height: 3rem;

        h4 {
          margin-bottom: 0.825rem;
        }

        p {
          padding-right: 0;
          line-height: 1.5;
          font-size: $base-sm;

          .fa {
            display: none;
          }
        }
      }

      &.panel-bundles {
        a {
          background-image: none;
          padding-right: 1.25rem;
        }
      }

      &.panel-duffle {
        font-size: $base-sm;

        img {
          float: right;
          max-width: 12vw;
          margin: 1.5rem 1.75rem 1.5rem 0.25rem;
        }

        p.lead {
          font-size: 3.25vw;
        }

      }
    }

  }

  #credits {
    padding-bottom: 5rem;
    
    img {
      min-width: 150px;
      margin: 1.5rem 2%;
    }
  }

  #footer.row-full {
    width: 100% !important;
    padding: 0 !important;
    min-height: 5rem;

    .deislabs {
      width: 4.5rem;
      height: 7rem;
      margin-left: 4%;
      top: -4rem;
      position: absolute;

      a {

        em {
          width: 2.5rem;
        }
      }

      &:hover {
        em {
          &.dl-tr {
            left: auto;
            right: 0;
            top: 2.2rem;
          }
          &.dl-sq {
            left: 0;
            right: auto;
          }
          &.dl-ci {
            bottom: auto;
            top: 0;
          }
        }
      }
    }

    p {
      padding: 0;
    }

    .fa {
      margin: 0;
    }
  }

  #intro small, .corner {
    display: none !important;
  }
}