{{ partial "header.html" . }}

    <div class="" id="intro">
      <div class="row row-full">
        <div class="small-12 large-offset-2 large-8 end columns">
          <h2>
            <strong>404</strong>
            <span class="corner corner-tl"></span><span class="corner corner-br"></span>
          </h2>
          <p class="subhead">Not found - <a href="https://cnab.io/">try the homepage</a>?</p>

          <img src="{{.Site.BaseURL}}/img/logo.png" title="CNAB" class="cnab-logo" />

          <div class="text-center">
            <a class="button primary" href="https://github.com/deislabs/cnab-spec">View the spec</a>
          
          </div>
          
        </div>
      </div>
    </div>    

{{ partial "footer.html" . }}
