{{ partial "header.html" . }}

<article class="col-60 centered full-height wrapper">
  <section class="hero">
    <h1>Kubernetes Tools <em>for VS Code</em></h1>
    <p class="lead">Access an entire ecosystem of tools from right in your IDE.</p>
  </section>
  
  <p>Lorem ipsum dolor amet hoodie williamsburg enamel pin microdosing sriracha umami tumblr. Photo booth intelligentsia tattooed fanny pack bitters. Fam meditation distillery shaman tumblr unicorn synth pork belly kale chips sustainable thundercats gluten-free. Roof party glossier vice, wolf tofu green juice yr crucifix gastropub narwhal. Chicharrones blue bottle DIY PBR&B af.</p>

  <p>Venmo ramps fashion axe actually cardigan chicharrones kickstarter austin drinking vinegar. Four loko edison bulb salvia next level hot chicken truffaut church-key. Typewriter pabst palo santo tousled, gochujang health goth cray microdosing tbh master cleanse. Bitters meditation squid pork belly fashion axe tumeric cloud bread woke vaporware. Asymmetrical whatever kickstarter raw denim ramps, etsy ethical chambray pitchfork mlkshk cornhole. PBR&B occupy paleo trust fund tofu. Blog prism tofu taxidermy coloring book.</p>

  <p>Tattooed master cleanse poke 3 wolf moon shaman. Chambray helvetica flannel, vaporware copper mug marfa irony aesthetic viral tofu seitan tumblr artisan tacos. Hammock biodiesel mumblecore kale chips sartorial, banh mi truffaut kickstarter four dollar toast ennui succulents umami kogi street art listicle. Pork belly meggings williamsburg, chambray umami wayfarers aesthetic bushwick biodiesel affogato. Chillwave jianbing four loko, blue bottle seitan meh trust fund hot chicken normcore echo park forage tote bag butcher.</p>
</article>

<section class="col-60 center">
  <div class="centered">
    <h1>Kubernetes Tools API</h1>
    <p class="lead">Add your own custom tools on top.</p>
  </div>
</section>

<div class="col-30">
  <p>In building the kubernetes-tools extension, we've extracted a helpful <a href="https://github.com/Azure/vscode-kubernetes-tools-api"><strong>kubernetes-tools-api</strong></a> layer and published it <a href="https://github.com/Azure/vscode-kubernetes-tools-api">here</a>, with the aim of enabling the development of more custom Kubernetes tools.</p>
  
  <p>The API is available as an <a href="https://www.npmjs.com/package/vscode-kubernetes-tools-api">NPM package</a>, so you can easily import and build upon it in your own projects!</p>

  <code>npm -i vscode-kubernetes-tools-api</code>
</div>

{{ partial "footer.html" . }}
